<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <div class="right-nav">
      <a href="/u">USERS</a>
      <a href="/p">PROJECTS</a>
    </div>
  </nav>
  <main>
    <h1><%= title %></h1>
    <div class="projects recommended">
      <h2>RECOMMENDED</h2>
      <div>Project</div>
      <div>Project</div>
      <div>Project</div>
      <div>Project</div>
    </div>
    <div class="projects trending">
      <h2>TRENDING</h2>
      <div>Project</div>
      <div>Project</div>
      <div>Project</div>
      <div>Project</div>
    </div>
    <div class="projects following">
      <h2>FOLLOWING</h2>
      <div>Project</div>
      <div>Project</div>
      <div>Project</div>
      <div>Project</div>
    </div>
