.edit:hover {
    visibility: visible !important;
    filter: brightness(90%);
}

.edit>.btn {
    opacity: 80%;
    background-color: lightgray;
    border-color: lightgray;
}

.edit-trigger>.edit {
    visibility: hidden;
}

.edit-trigger:hover>.edit {
    visibility: visible;
}